/* Delete these CSS comments after reading. */
/* This main css file contains the default rules and is geared toward the small/phone view */

* { box-sizing: border-box;}  /* This wildcard applies to all elements ensuring a box layout model */

body {
    font-size: 14px;
    font-family: 'Verdana', 'Georgia', sans-serif;/* Declare the base font-family */
    background-color: rgba(100,200,250,0.2);
   
}

header, nav, main, .contact, .footer-bar { /* the comma between the selectors means apply the following CSS declarations to all of the listed elements */
  max-width: 37.5em; /* Declare the maximum width and other main element rules to limit the stretch on larger/wider views */
    margin: 0 auto;
}
.forecast{
    display: none;
}


header h1 {
    position:relative;
    color: #c8fa64;
        
}
header img {
    float:right;
    width: 125px;
    height: 125px;
    margin-right: 25px;
}
header .subheading {}

h1, h2, h3, h4, h5, h6{
    color:#fa9664;
    
}

.heading{
    color:#333333;
    font-weight: bold;
    text-align:center;
}

.subheading{
    background-color:  #333333;
	color:  #fa9664;
    text-align:center;
    
}
.weather{
    margin-top:20px;
    text-align:center;
}


nav ul {
   display: none;
    
        
 }
nav ul li {
    list-style-type: none;
    
    
}

nav ul li a {
    
    color: #333333;
    text-decoration: none;
    margin-right: 5px;
    
}


nav ul li.active a {
   
}
nav ul li a:hover {
    
}

.town{
  width: auto ;
  max-width: 100% ;
  height: auto ;
  margin: 0 auto;
  border-style: solid;
  border-width: 5px;
}

.weather-summary, article, .forecast{
    padding:10px;
    margin-bottom: 10px;
}

table{
    margin-top: 20px;
}

.contact { 
    background-color:  #333333;
    font-size: 12px;
    text-align:center;
    color:  #fa9664;
    left 0px;
    bottom: 30px;
    width: 100%;
    line-height:20px;
}


.footer-bar {

    background-color:  #999999;
	color:  #c8fa64;
    text-align:center; 
    width: 90%;
}