/* Delete these CSS comments after reading. */
/* This main css file contains the default rules and is geared toward the small/phone view */

* { box-sizing: border-box;}  /* This wildcard applies to all elements ensuring a box layout model */

body {
  font-size: 16px;
  font-family: Verdana, Georgia, sans-serif;
}

header, nav, main, footer { /* the comma between the selectors means apply the following CSS declarations to all of the listed elements */
  max-width: 100%; /* Declare the maximum width and other main element rules to limit the stretch on larger/wider views */
}

header {
    text-align: center;
    display: block;
}
header h1 {
    background-color: #333333;
    color: #c8fa64;
    text-align: center;
    display: block;
   
    
}
header img {
    
}
header .subheading {
    background-color:  #333333;
	color:  #fa9664;
    text-align:center;
}

nav {
    background-color: #64c8fa ;
    color: #ffffff;
}
nav button {
    
}
nav ul {
    
}
nav ul li {
    
}
nav ul li a {
    
}
nav ul li.active a {
    
}
nav ul li a:hover {
    color: #9664fa;
    
}

main {
    
}
main h2 {
    background-color:  #ffffff;
	color:  #fa9664;
}
main figure { 
    margin: 0 0 .2rem 2%;
    width:96%; 
}
main figure img {
}

footer {
    background-color:  #ffffff;
	color:  #fa9664;
    text-align:center;   
}