.grid4gallery{
    display:grid;


}

/*body of the document----------------------------------------------------------------------*/
body {
    font-size: 14px;
    font-family: 'Verdana', 'Georgia', sans-serif;/* Declare the base font-family */
    background-color: rgba(100,200,250,0.2);

}

/*max width of these elements----------------------------------------------------------------------*/
header, nav, main, .contact, .footer-bar { /* the comma between the selectors means apply the following CSS declarations to all of the listed elements */
  max-width: 37.5em; /* Declare the maximum width and other main element rules to limit the stretch on larger/wider views */
    margin: 0 auto;
}
.forecast{
    display: none;
}

header h1 {
    position:relative;
    color: #c8fa64;
        
}
header img {
    float:right;
    width: 125px;
    height: 125px;
    margin-right: 25px;
}

h1, h2, h3, h4, h5, h6{
    color:#fa9664;
}

.heading{
    color:#333333;
    font-weight: bold;
    text-align:center;
}

.subheading{
    background-color:  #333333;
	color:  #fa9664;
    text-align:center;
    
}


.weather{
    margin-top:20px;
    text-align:center;
}

.topnav {
  overflow: hidden;
  background-color: #333333;
}

.topnav a {
  float: left;
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #9664fa;
  color: #333333;
}
img:hover {
    box-shadow: 8px 8px 15px #fa9664;
}

.active {
  background-color: #fa9664;
  color: red;
}

.topnav .icon {
  display: none;
}

@media only screen and (max-width: 37.5em) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
.forecast {display:none;}
}

@media only screen and (max-width: 37.5em) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
      
  }
    .contact {position: relative;}    
}
.contact { 
    background-color:  #333333;
    font-size: 12px;
    text-align:center;
    color:  #fa9664;
    left: 5px;
    bottom: 30px;
    width: 100%;
    line-height:20px;
}


.footer-bar {

    background-color:  #999999;
	color:  #c8fa64;
    text-align:center; 
    width: 90%;
}